.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
  max-width: 320px;
  margin: auto;
  padding: 16px;
}

.button {
  display: block;
  width: 100%;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
  background: linear-gradient(to left, #06C1FF, 80%,#4facfe);
  color: #fff;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  text-align: center;
}

.youtube {
  background: #ff0102;
  margin-top: 16px;
}


