.cardSkelton {
  width: 100%;
  border-radius: 8px;
  box-shadow:  8px 8px 17px #c8c9cc, -8px -8px 17px #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  position: relative
}

.imageSkelton {
  width: 100%;
  height: auto;
  /* 16:9で固定 */
  padding-top: 56.25%;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.wrapperSkelton {
  padding: 16px;
}

.titleSkelton {
  width: 80%;
  margin-bottom: 8px;
}

.channelSkelton {
  width: 30%;
}

.card {
  width: 100%;
  border-radius: 8px;
  box-shadow:  8px 8px 17px #c8c9cc, -8px -8px 17px #ffffff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  position: relative
}

.image {
  width: 100%;
  height: auto;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

.wrapper {
  padding: 16px;
}

.title {
  margin-bottom: 8px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
}

