.section {
  padding: 32px;
}

.list {

}

.item {
  display: block;
  font-weight: 700;
  max-width: 320px;
  margin: 32px auto;
  background: linear-gradient(to left, #06C1FF, 80%,#FF02FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  display: block;
  padding: 16px;
  border-radius: 8px;
  box-shadow:  8px 8px 17px #c8c9cc, -8px -8px 17px #ffffff;
}
