.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background-color: #EBECF0;
  padding: 8px 16px;
  box-shadow: 0 4px 12px 4px rgba(0,0,0,0.2);
}

.head {
  display: flex;
  align-items: center;
}

.link {
  display: block;
  flex-grow: 1;
}

.backIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerTitle {
  flex-grow: 1;
  padding: 0 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.googleSigin {
  width: 130px;
  height: 30px;
  margin-right: 8px;
}

.userIcon {
  flex-shrink: 0;
  margin-right: 16px;
  width: 30px;
}

.userIconImage{
  width: 100%;
  border-radius: 50%;
}

.navIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  margin-top: 8px;
}

.input {
  margin-right: 8px;
  flex-grow: 1;
  border-style: solid;
  border-width: 1px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, #06C1FF, 80%,#FF02FF);
  padding: 2px 12px;
  width: 100%;
  background-color: none;
}

.submitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #06C1FF;
  padding: 0 16px;

}

.submitIcon {
  fill: #fff;
}
