.wrapper {
  display: flex;
  flex-direction: column;
  height: 75vh;
}
.spacer {
  flex-grow: 1;
}

.message {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.2;
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-width: 288px;
  background-image: url(../../assets/logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: rgba(235, 236, 240,0.8);
  background-blend-mode: lighten;
  background-size: cover;
}

.privacyPolicy {
  max-width: 320px;
  margin: auto;
  padding: 16px 16px 0px;
  color: #000000;
  background: linear-gradient(to left, #06C1FF, 80%,#FF02FF);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-style: solid;
  border-width: 0px;
}
